<section>
  <div class="containerColor">
    <div class="container">
      <nav class="navStyle">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item" id="img-arg">
            <a href="#">
              <img
                src="../../../assets/img/APLogo.png"
                width="100px"
                height="20px"
              />
            </a>
          </li>
          <li>
            <p class="title-header"># Yo programo</p>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About me</a>
          </li>
          <li class="nav-item">
            <a href="#education" class="nav-link">Education</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#skills" class="nav-link">Skills</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact Me</a>
          </li>
          <li class="containerBtn">
            <button class="btn-login"><a href="/login">Login</a></button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section>
  <div class="container-presentation">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <div class="title-presentation">
            <h1>Hello, I'm</h1>
            <div>
              <h1>Lucia B. Pitrelli</h1>
            </div>
          </div>
          <div class="text-presentation">
            <p>
              <i class="bi bi-pc-display-horizontal"></i>Full Stack Developer
              Jr.
            </p>

            <p>
              <i class="bi bi-geo-fill"></i>Based in Buenos Aires, Argentina.
            </p>
          </div>
          <div class="container">
            <!--button change features-->
            <div class="btn-update">
              <button>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
              </button>
            </div>
          </div>
        </div>

        <!--section image-->
        <div class="col">
          <div class="img-bg">
            <img src="../../../assets/img/third-img.png" width="500px" />
          </div>
          <!--button change features-->
          <div class="container">
            <div class="btn-update">
              <button>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!--gif-->
  <div class="container-about" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="gif-about">
            <img src="../../../assets/img/perfil.gif" />
          </div>
          <div class="container">
            <!--button change features-->
            <div class="btn-update">
              <button>
                <a href="#"><i class="bi bi-pencil-fill"></i></a>
              </button>
            </div>
          </div>
        </div>

        <!--card about me-->
        <div class="col">
          <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="card border-light mb-5">
              <div class="card-header">
                <i class="bi bi-bookmark-star-fill"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title" id="about">About me</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  doeiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Utenim ad minim veniam, quis nostrud exercitation ullamco
                  laborisnisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <!--button change features-->
              <div class="container">
                <div class="btn-update">
                  <button>
                    <a href="#"><i class="bi bi-pencil-fill"></i></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
